[Desktop Entry]
Categories=System;
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=/home/owner/git/linux-preinstall/utilities/clean-lbry.py
GenericName[en_US]=Clean LBRY
GenericName=Clean LBRY
Icon=/usr/share/icons/hicolor/48x48/actions/geany-close-all.png
MimeType=
Name[en_US]=Clean LBRY
Name=Clean LBRY
Path=/home/owner/git/linux-preinstall
StartupNotify=true
Terminal=true
TerminalOptions=--noclose
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
